.validation-form {
  ion-item {
    color: var(--app-dark-background);
  }
}

.verify-header {
  background: var(--ion-color-light);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2em 1em 2em 1em;
  text-align: center;
  #quest-logo {
    max-width: 4em;
  }
  img {
    background: var(--app-dark-background);
    padding: 10px;
    width: 60px;
    height: 60px;
    object-fit: contain;
    border-radius: 50%;
  }
}

.verify-body {
  text-align: center;
  ion-icon {
    font-size: 30px;
    color: var(--app-dark-background);
    --ionicon-stroke-width: 16px;
  }

  ion-item {
    border-radius: 2em;
  }
  .selfie-box {
    ion-img {
      border: solid white 10px;
      border-radius: 1.5em;
      box-shadow: rgba(0, 0, 0, 0.137) 0px 0px 1em;
      margin: 1em auto 0;
    }
    ion-img::part(image) {
      border-radius: 1em;
    }
  }
}

// Code for the Home Page

.swiper-slide {
  background: linear-gradient(var(--app-dark-background), rgb(65, 56, 56));
  border-radius: 1em;
  color: var(--app-color-4);
}

.service-content {
  color: white;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 14em;
}
.swiper-horizontal > .swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal,
.swiper-pagination-custom,
.swiper-pagination-fraction {
  bottom: 0;
  left: 0;
  width: 100%;
}

.swiper-pagination-bullet {
  width: 15px;
  height: 15px;
  display: inline-block;
  border-radius: 50%;
  border: black solid 1px;
  background: var(--app-color-4);
  opacity: 0.61;
}

.swiper-pagination-bullet-active {
  background: var(--app-color-1);
  opacity: 1;
}

.profile-page {
  ion-icon {
    font-size: 1.5em;
  }
}
.special-1 {
  display: flex;
  flex-direction: row-reverse;
  padding-right: 2em;
}

.special-1 ion-button {
  color: black;
  font-weight: 700;
  font-size: 1.2em;
}

.centralize {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

@font-face {
  font-family: "Segoe";
  src: url("../assets/fonts/SEGOEUI.TTF");
}
@font-face {
  font-family: "Segoe-bold";
  src: url("../assets/fonts/SEGOEUIB.TTF");
}
@font-face {
  font-family: "Segoe-bold-italic";
  src: url("../assets/fonts/SEGUISBI.TTF");
}
@font-face {
  font-family: "Segoe-light";
  src: url("../assets/fonts/SEGOEUIL.TTF");
}
@font-face {
  font-family: "Segoe-italic";
  src: url("../assets/fonts/SEGOEUII.TTF");
}

* {
  font-family: "Segoe";
}
h1,
h2,
h3,
h4 {
  font-family: "Segoe-bold";
}
ion-label#menu-item {
  font-family: "Segoe";
  font-size: 1.2em;
}

.user-card ion-avatar {
  width: 6em;
  height: 6em;
  margin-top: -3em;
  box-shadow: inset 0 0 4px 0.2em #00000025;
}

.user-card {
  margin: 4em 0 1em 0;
  padding: 0 1em 1em 1em;
  border-radius: 1em;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Profile Page Styles */

.profile-page ion-item::part(native) {
  border-radius: 10px;
  margin-top: 1em;
}

.processInfo {
  color: var(--ion-color-dark);
}
